@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --nav-width: 3.5em;
  --font-body: 'Kumbh Sans', sans-serif;
  --font-head: 'Kumbh Sans', sans-serif;
  --font-size: 20px;
  --max-width-bp: 768px;
  --orange-pink: linear-gradient(to bottom right, var(--orange-light), var(--orange-dark) 85%);
  --green-grad: linear-gradient(to bottom right, var(--green-light), var(--green-dark) 85%);
  --background: var(--gray6);
  --text-color: var(--gray2);
  --h-color: #fff;
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --item-hover: var(--gray4);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: rgba(255, 255, 255, .05);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --card-border: 3px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-radius: 0.25em;
}

body {
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background);
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

main {
  margin-left: var(--nav-width);
  padding: 1em;
}

footer {
  margin: 2em 0;
  text-align: center;
  font-size: 13px;

  span {
    display: inline-block;
    border-bottom: var(--h-border);
  }

  a {
    text-decoration: none;
    color: var(--blue);
  }
}